<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Alfajor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/static/style/layout.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
    
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="pngfix.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header">
      <a id="logo" href="{% url ventas.views.pedido %}">Alfajor</a>
      <div class="clear"></div>
    </div>
    <div id="body">
      <div id="app">
	<div id="msgGracias">      
          <h1> Error 404: No Alfajor for you! </h1>
          <p> Page not found </p>
          
	  <button type="button" onclick="window.location='{% url ventas.views.pedido %}';">Home</button>
	  <div class="espacioMediano"></div>
	  <div class="espacioMediano"></div>
	</div>
      </div>
    </div>
    <div id="footer">
      <p>&copy; {{ date|date:"Y" }} All rights reserved | Alfajor - Machinalis - www.machinalis.com </p>
    </div>
  </body>
</html>
