<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Alfajores El Nazareno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/static/style/layout.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
    
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="pngfix.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header">
      <a id="logo" href="{% url ventas.views.pedido %}">El Nazareno</a>
      <div class="clear"></div>
    </div>
    <div id="body">
      <div id="app">
	<div id="msgGracias">
	  <h1>El pedido se ha realizado con &eacute;xito!</h1>
          
	  <p>Muchas gracias por su compra. Recibir&aacute; un correo electr&oacute;nico con todos
	    los detalles de su compra.</p>
          
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
	    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
	    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
	    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
	    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          
	  <button type="button" onclick="window.location='{% url ventas.views.pedido %}';">Ir al inicio</button>
	  <div class="espacioMediano"></div>
	  <div class="espacioMediano"></div>
	</div>
      </div>
    </div>
    <div id="footer">
      <p>&copy; {{ date|date:"Y" }} Todos los derechos reservados | El Nazareno - F&aacute;brica
	Familiar de Alfajores y Especialidades</p>
    </div>
  </body>
</html>
