{% load pedidos %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Alfajores El Nazareno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/static/style/layout.css" type="text/css" />
    <style type="text/css">
      {% for alfajor in alfajores %}
      div#cart div#paneCartB ul li.idR{{ alfajor.id }}{ background: url({{ alfajor.imagen_thumbnail.url }}) no-repeat #B9A487; }
      {% endfor %}
      {% for bombon in bombones %}
      div#cart div#paneCartB ul li.idR{{ bombon.id }}{ background: url({{ bombon.imagen_thumbnail.url }}) no-repeat #B9A487; }
      {% endfor %}
      
    </style>
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript">
      {% if init_prod %}
      var itemParaAgregar = {{ init_prod.pk }};
      var last_choice_id = "{{ init_prod.pk }}";
      {% else %}
      var itemParaAgregar = null;
      var last_choice_id = null;
      {% endif %}
      var toggle_cajas = {% if pedido %}true{% else %}false{% endif %};
    </script>
    
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/static/js/pngfix.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header">
      <a id="logo" href="{% url ventas.views.pedido %}">El Nazareno</a>
      <img src="/static/img/paso1.gif" />
      <div class="clear"></div>
    </div>
    <div id="body">
      <div id="app">
	<div id="info">
	  <div id="paneA">
	    <a href="#" id="selAlfajores" 
               class="solapa seleccionada">Alfajores</a>
            <a href="#" id="selBombones" 
               class="solapa">Bombones y trufas</a>
	    <div class="clear"></div>
	    <ul id="t0">
              {% if alfajores %}
              {% for alfajor in alfajores %}
              {% if alfajor.disponible %}
              <li>
                
                <a idR="{{ alfajor.id }}" href="#" >
                  {% ifequal alfajor.pk init_prod.pk %}
                  <b> {{ alfajor.variedad|capfirst }} </b>
                  {% else %}
                  {{ alfajor.variedad|capfirst }}
                  {% endifequal %}
                </a> 
              </li>
              {% endif %}
              {% endfor %}
              {% else %}
              <li> No hay datos, deberá cargar el fixture para 
                   obtener un menú aquí
              </li>
              {% endif %}
	    </ul>
	    <ul id="t1" style="display:none">
              {% if bombones %}
              {% for bombon in bombones %}
              {% if bombon.disponible %}
              <li> 
                <a idR="{{ bombon.id }}" href="#"> 
                  {{ bombon.variedad|capfirst }}
                </a> 
              </li>
              {% endif %}
              {% endfor %}
              {% else %}
              <li> No hay datos, deberá cargar el fixture para 
                   obtener un menú aquí
              </li>
              {% endif %}


	    </ul>
	  </div>
	  <div id="paneB">
            {% if init_prod %}
	    <h1>{{ init_prod.variedad|capfirst }}</h1>
	    <img src="{{ init_prod.imagen.url }}" />
	    <p>{{ init_prod.descripcion }}</p>
	    <div id="precioItem">Precio p/ unidad: $ 
              <strong>{{ init_prod.get_precio_con_fmt }}</strong>
            </div>
            {% else %}
	    <h1>No hay alfajores cargados</h1>
	    <img src="/static/img/stub.png" />
	    <p> No hay alfajores en la base de datos.</p>
	    <div id="precioItem">Precio p/ unidad: $ 
              <strong> 0.00 </strong>
            </div>
            {% endif %}
	    <div class="clear"></div>
	    
	    <div id="agregarItem">
	      <input type="hidden" id="idItemActivo" 
                     value="" 
                     precio="{{ init_prod.precio_por_unidad }}" 
                     tipo="{{ init_prod.tipo }}" />
	      Agreg&aacute; a la caja:
	      <a class="boton" href="javascript:agregarItems(1)">1</a>
	      <a class="boton" href="javascript:agregarItems(4)">4</a>
	      <a class="boton" href="javascript:agregarItems(6)">6</a>
	      <a class="boton" href="javascript:agregarItems(12)">12</a>
	      &oacute; 
              <select id="selectCant">
                <option value="0"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
	    </div>
	  </div>
	  <div class="clear"></div>
	</div>
	
	<form action="{% url ventas.views.pedido %}" method="post">
          {% csrf_token %}
          {% if pedido %}
          {% show_hidden_fields pedido %}
          {% else %}
          <input type="hidden" id="siguienteCaja" value="2" />
          <input type="hidden" name="cajas[]" class="cajas" caja="1" 
                 tipo="{{ init_prod.tipo }}" 
                 value="" activa="1" />
          {% endif %}

	  <div id="text">
            <p>Con recetas propias desarrolladas a través de cuatro décadas de duro
              trabajo, y con las mejores materias primas 100% naturales, les
              llevamos a ustedes desde las Sierras de Córdoba y a cualquier punto
              del país, nuestros productos, con la misma frescura y calidad que si
              los comprara en nuestros locales.
            </p>
            <p>
              A continuación, arme sus cajas de alfajores o bombones a gusto, que le
              será enviado a su domicilio. Las cajas deben contener 6 o 12 unidades,
              y deben ser exclusivamente de alfajores o de bombones. Para pedidos
              especiales, comuníquese con nosotros a 
              <a href="mailto:to@example.com">
                to@example.com
              </a>
             </p>
	  </div>
	  <div id="cart">
	    <strong>Tu compra</strong>
	    <div class="espacio"></div>
	    <div class="opA">
              <a href="#" class="boton" id="accNuevaCaja">Nueva caja</a>
            </div>
	    <div class="opB">
              <a href="#" class="boton" id="accDuplicaCaja">Duplicar caja</a>
              <a href="#" class="boton" id="accBorraCaja">Borrar caja</a>
            </div>
	    <div class="espacio"></div>

	    {% if not pedido %} 
	    <div id="paneCartA">
	      <ul>
	        <li><a href="#" class="selected" caja="1">Caja #1</a></li>
	      </ul>
	    </div>
	    <div id="paneCartB">
	      <ul id="detalleCaja_1">
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li class="inactivo"></li>
	        <li class="inactivo"></li>
	        <li class="inactivo"></li>
	        <li class="inactivo"></li>
	        <li class="inactivo"></li>
	        <li class="inactivo"></li>
	        <div class="clear"></div>
	      </ul>
            </div>
            {% else %} 
            {% show_carrito_de_compra pedido %} 
            {% endif %}

	    <div class="clear"></div>
	    
	    <div id="panePrice">
              Total de tu compra: $ <strong>
	     {% if pedido %}
             {{ pedido.costo_de_productos }}
             {% else %}
                  0.00
             {% endif %}
                  </strong><br />
	      + gastos de env&iacute;o (pr&oacute;ximo paso)
	    </div>
	    <div class="clear"></div>
	  </div>
	  <div class="clear"></div>
	  
	  <button type="button" id="siguiente">Siguiente</button>
	  <div class="clear"></div>
	</form>
      </div>
    </div>
    <div id="footer">
      <p>&copy; {{ date|date:"Y" }} Todos los derechos reservados | El Nazareno - F&aacute;brica
	Familiar de Alfajores y Especialidades</p>
    </div>
  </body>
</html>
