{% load pedidos %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Alfajor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/static/style/layout.css" type="text/css" />
    <style type="text/css">
      #id_codigo_de_area.telefono {
         float: none;
         width: 70px;
      }

      #id_telefono.telefono {
         float: none;
         width: 205px;
      }
    </style>

    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="/static/js/paso2.js"></script>
    
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="pngfix.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header">
      <a id="logo" href="{% url ventas.views.pedido %}">Alfajor</a>
      <img src="/static/img/paso2.gif" />
      <div class="clear"></div>
    </div>
    <div id="body">
      <div id="app">
	<div id="paneDatos">
	  <h1>Recipient information</h1>
	  <p>Fields with (*) are mandatory. </p>
	  
          <form method="post" action="{% url ventas.views.datos_de_envio %}">
            {% csrf_token %}
	    <fieldset>             
              {{ form.nombre_completo.errors }}              
              <div class="fieldWrapper">    
                <label for="id_nombre_completo">Name *</label> 
                {{ form.nombre_completo }}
              </div>
              <div class="espacioMediano"></div>
              
              {{ form.email.errors }}
              <div class="fieldWrapper">
                <label for="id_email">e-Mail *</label> 
                {{ form.email }}
              </div>
              <div class="espacioMediano"></div>
              
              {{ form.telefono.errors }} 
              {{ form.codigo_de_area.errors }}
              <div class="fieldWrapper">
                <label for="id_telefono">Phone *</label>
                {{ form.codigo_de_area }} - {{ form.telefono }} 
              </div>
              <div class="espacioMediano"></div>            
              
              {{ form.direccion.errors }}
              <div class="fieldWrapper">
                <label for="id_direccion">Address *</label> 
                {{ form.direccion }}
              </div>             
              <div class="espacioMediano"></div>
              
              {{ form.codigo_postal.errors }}
              <div class="fieldWrapper">
                <label for="id_codigo_postal">Zip Code *</label> 
                {{ form.codigo_postal }}
              </div>
              <div class="espacioMediano"></div>

              {{ form.provincia.errors }}
              <div class="fieldWrapper">
                <label for="id_provincia">State *</label> 
                {{ form.provincia }}
              </div>
              <div class="espacioMediano"></div>

              {{ form.localidad.errors }}
              <div class="fieldWrapper">
                <label for="id_localidad">City *</label> 
                {{ form.localidad }}
              </div>
              <div class="espacioMediano"></div>             
	      <div class="clear"></div>
              
	      <ul id="resumen">
		<li id="id_costo_pedido" >Order: <b>$ <span class="val">{{ pedido.costo_de_productos|decimalfmt }}</span></b></li>
		<li id="id_costo_de_envio">Shipping costs: <b>$ <span class="val">0.00</span></b></li>
		<li id="id_costo_total" class="total">TOTAL: <b>$ 
                    {% if pedido.gastos_de_envio %}
                    <span class="val">{{ pedido.costo_total }}</span>
                    {% else %}
                    <span class="val">0.00</span>
                    {% endif %}
                </b></li>
	      </ul>
	      <div class="espacioMediano"></div>
	      
	      <button style="margin-right: 40px;" id="siguiente" type="button">
                Next
              </button>
	      <div class="clear"></div>
	    </fieldset>
	  </form>

	</div>
	<div id="paneInfo">
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Quisque porta felis a ante ullamcorper sit amet accumsan enim 
      commodo. Sed sit amet ligula augue, at cursus erat. Sed 
      sollicitudin adipiscing urna ut dignissim. In fermentum ornare 
      risus, non posuere ante volutpat at. </p>
      <p>Aliquam et risus sed metus semper pharetra. Morbi eget leo 
      semper nisi lobortis consectetur. Suspendisse non diam condimentum
       velit sollicitudin ultricies, 
       <a href="mailto:to@example.com"> to@example.com</a>.</p>
	</div>
	<div class="clear"></div>
      </div>
    </div>
    <div id="footer">
      <p>&copy; {{ date|date:"Y" }} All rights reserved | Alfajor - Machinalis - www.machinalis.com </p>
    </div>
  </body>
</html>
