{% load pedidos %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Alfajor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/static/style/layout.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
                
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="pngfix.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header">
      <a id="logo" href="{% url ventas.views.pedido %}">Alfajor</a>
      <img src="/static/img/paso3.gif" />
      <div class="clear"></div>
    </div>
    <div id="body">
      <div id="app">
	<div id="paneDatos">
	  <h1>Data confirmation</h1>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	  <div class="espacio"></div>
	  
	  <div id="listaCajas">
	    <ul>
              {% for caja in pedido.cajas.all %}
	      <li>
		Box #{{ forloop.counter }}
                {% show_productos caja %}
              </li>
              {% endfor %}
	    </ul>
	  </div>
          
	  <div id="listaDatos">
            {% show_datos_de_envio pedido %}   
	    <div id="precioFinal">
	      Total $ <b> {{ pedido.costo_total|decimalfmt }} </b>
	    </div>
	  </div>
	  <div class="clear"></div>
	  <form method="post" action="{% url ventas.views.confirmacion %}">
            {% csrf_token %}
	    <button type="submit" id="siguiente">Finish</button>
          </form>
	  <div class="clear"></div>
	</div>
	<div id="paneInfo">
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Quisque porta felis a ante ullamcorper sit amet accumsan enim 
      commodo. Sed sit amet ligula augue, at cursus erat. </p>
	  <p>Sed sollicitudin adipiscing urna ut dignissim. In fermentum 
      ornare risus, non posuere ante volutpat at. </p>
	</div>
	<div class="clear"></div>
      </div>
    </div>
    <div id="footer">
      <p>&copy; {{ date|date:"Y" }} All rights reserved | Alfajor - Machinalis - www.machinalis.com </p>
    </div>
  </body>
</html>
