{% load pedidos %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Alfajores El Nazareno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/static/style/layout.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
                
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="pngfix.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header">
      <a id="logo" href="{% url ventas.views.pedido %}">El Nazareno</a>
      <img src="/static/img/paso3.gif" />
      <div class="clear"></div>
    </div>
    <div id="body">
      <div id="app">
	<div id="paneDatos">
	  <h1>Confirmaci&oacute;n de datos</h1>
	  <p>Por favor compruebe que todos los datos son correctos antes de finalizar el proceso
	    de compra.</p>
	  <div class="espacio"></div>
	  
	  <div id="listaCajas">
	    <ul>
              {% for caja in pedido.cajas.all %}
	      <li>
		Caja #{{ forloop.counter }}
                {% show_productos caja %}
              </li>
              {% endfor %}
	    </ul>
	  </div>
          
	  <div id="listaDatos">
            {% show_datos_de_envio pedido %}   
	    <div id="precioFinal">
	      Total a pagar $ <b> {{ pedido.costo_total|decimalfmt }} </b>
	    </div>
	  </div>
	  <div class="clear"></div>
	  <form method="post" action="{% url ventas.views.confirmacion %}">
            {% csrf_token %}
	    <button type="submit" id="siguiente">Finalizar</button>
          </form>
	  <div class="clear"></div>
	</div>
	<div id="paneInfo">
	  <p>Por favor compruebe que todos los datos sean correctos antes de
            finalizar el proceso de compra. Nos comunicaremos con usted a la
            brevedad ante cualquier eventualidad</p>
	  <p>Recuerde que el Total a pagar incluye los gastos de envío. Presione
            finalizar para comenzar el proceso de envío</p>
	</div>
	<div class="clear"></div>
      </div>
    </div>
    <div id="footer">
      <p>&copy; {{ date|date:"Y" }} Todos los derechos reservados | El Nazareno - F&aacute;brica
	Familiar de Alfajores y Especialidades</p>
    </div>
  </body>
</html>
